<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052842107322-k93s8qqlsa7ofnmanov1dcm1dhga4q04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052842107322-k93s8qqlsa7ofnmanov1dcm1dhga4q04</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1052842107322-53os5t7uo8k6koleb4im0q5lccr02rln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH9WLh0wo5Bo7jw4j5KWavEhp9j4bEw-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1052842107322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rssFeedReader</string>
	<key>PROJECT_ID</key>
	<string>rssdatabase-9a243</string>
	<key>STORAGE_BUCKET</key>
	<string>rssdatabase-9a243.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052842107322:ios:e02a9b282816cd9e89bd83</string>
</dict>
</plist>